In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import WebDriverException,NoSuchElementException

In [2]:
import warnings
warnings.filterwarnings('ignore')

'''1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date 
E) Views'''

In [4]:
driver = webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
bo = [] 
for i in driver.find_elements(By.XPATH,'//a[@class="mw-redirect"]'):
    bo.append(i.get_attribute('title'))
bo

['Music videos',
 'Geolocation software',
 'Johny Johny Yes Papa',
 'Cocomelon ‚Äì Nursery Rhymes',
 'Cocomelon ‚Äì Nursery Rhymes',
 'Cocomelon ‚Äì Nursery Rhymes',
 'Alan Walker (music producer)',
 'Baby Shark Dance',
 'Baby Shark Dance',
 'Johny Johny Yes Papa',
 'Baby Shark Dance',
 'Wired (website)',
 'CNet',
 'Criticism of YouTube',
 'Censorship by YouTube',
 'KSI vs Logan Paul II']

'''2. Scrape the details team India‚Äôs international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.'''

In [6]:
driver = webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [7]:
inter = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
inter.click()

In [13]:
name=[]
date=[]
place=[]
series=[]
time = []
for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
    date.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
    place.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
    series.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
    time.append(i.text)

In [14]:
len(name)
len(date)
len(place)
len(series)
len(time)

8

In [15]:
bcci = pd.DataFrame({'Match title':series, 'Series':name, 'Place':place, 'Date':date, 'Time':time})
bcci

,Match title,Series,Place,Date,Time
0,1st ODI -,INDIA WOMEN TOUR OF BANGLADESH 2023,Dhaka,16 JUL 2023,9:00 AM IST
1,8th ODI -,ACC MENS EMERGING TEAMS ASIA CUP,Colombo,17 JUL 2023,2:00 PM IST
2,2nd ODI -,INDIA WOMEN TOUR OF BANGLADESH 2023,Dhaka,19 JUL 2023,9:00 AM IST
3,12th ODI -,ACC MENS EMERGING TEAMS ASIA CUP,Colombo,19 JUL 2023,2:00 PM IST
4,2nd Test -,INDIA TOUR OF WEST INDIES 2023,Trinidad,20 JUL 2023,7:30 PM IST
5,3rd ODI -,INDIA WOMEN TOUR OF BANGLADESH 2023,Dhaka,22 JUL 2023,9:00 AM IST
6,1st ODI -,INDIA TOUR OF WEST INDIES 2023,Barbados,27 JUL 2023,7:00 PM IST
7,2nd ODI -,INDIA TOUR OF WEST INDIES 2023,Barbados,29 JUL 2023,7:00 PM IST

In [17]:
driver.close()

'''4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.'''

In [19]:
driver = webdriver.Chrome()
driver.get('http://statisticstimes.com/')

In [20]:
eco = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
eco.click()

In [21]:
ind = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
new = ind.get_attribute('href')
new

'https://www.statisticstimes.com/economy/india-statistics.php'

In [22]:
driver.get(new)

In [23]:
try:
    ind_gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    gdp = ind_gdp.get_attribute('href')
    driver.get(gdp)
except WebDriverException:
    pass

In [24]:
for _ in range(45):
    driver.execute_script("window.scrollBy(0,45)")

In [25]:
try:
    name,gspd,share = [],[],[]
    for i in driver.find_elements(By.XPATH,'//td[@class="name"]'):
        name.append(i.text)
    for i in driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]'):
        gspd.append(i.text)
    for i in driver.find_elements(By.XPATH,'//td[@class="data"]'):
        share.append(i.text.split(','))
except WebDriverException:
    pass

In [26]:
stats = pd.DataFrame({'Name':name[:34:],'GSPD':gspd[:34:],'Share':share[:34:]})
stats

                         Name       GSPD          Share
0                 Maharashtra  2,632,792            [-]
1                  Tamil Nadu  1,630,208       [13.94%]
2               Uttar Pradesh  1,584,764      [399.921]
3                     Gujarat  1,502,899            [-]
4                   Karnataka  1,493,127  [2, 039, 074]
5                 West Bengal  1,089,898  [1, 845, 853]
6                   Rajasthan    942,586        [8.63%]
7              Andhra Pradesh    862,957      [247.629]
8                   Telangana    861,031  [1, 312, 929]
9              Madhya Pradesh    809,592  [1, 215, 307]
10                     Kerala    781,653  [1, 687, 818]
11                      Delhi    774,870        [8.39%]
12                    Haryana    734,163      [240.726]
13                      Bihar    530,363  [1, 166, 817]
14                     Punjab    526,376  [1, 123, 982]
15                     Odisha    487,805            [-]
16                      Assam    315,881        [7.96%]
17               Chhattisgarh    304,063      [228.290]
18                  Jharkhand    297,204            [-]
19                Uttarakhand    245,895  [1, 186, 379]
20            Jammu & Kashmir    155,956  [1, 631, 977]
21           Himachal Pradesh    153,845        [7.91%]
22                        Goa     73,170      [226.806]
23                    Tripura     49,845  [1, 156, 039]
24                 Chandigarh     42,114  [1, 091, 077]
25                 Puducherry     34,433  [1, 253, 832]
26                  Meghalaya     33,481        [5.77%]
27                     Sikkim     28,723      [165.556]
28                    Manipur     27,870     [793, 223]
29                   Nagaland     27,283     [739, 525]
30          Arunachal Pradesh     24,603  [1, 020, 989]
31                    Mizoram     22,287        [4.99%]
32  Andaman & Nicobar Islands          -      [143.179]
33                      India  2,332,992     [711, 627]

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [27]:
driver = webdriver.Chrome()
driver.get('https://github.com/')

In [28]:
driver.get('https://github.com/trending')

In [34]:
repo,des,lan = [],[],[]
for i in driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]'):
    repo.append(i.text)
for i in driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
    des.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]'):
    lan.append(i.text)

In [35]:
len(repo)

25

In [36]:
git = pd.DataFrame({'Repository title':repo[0:22], 'Repository description':des[0:22], 'Language used':lan[0:22]})
git

,Repository title,Repository description,Language used
0,ldpreload / BlackLotus,BlackLotus UEFI Windows Bootkit,C
1,bazingagin / npc_gzip,üßë‚Äçüè´ 60 Implementations/tutorials of deep learn...,Python
2,labmlai / annotated_deep_learning_paper_implem...,üîç Haystack is an open source NLP framework to ...,Jupyter Notebook
3,deepset-ai / haystack,System76 Virgo Laptop Project,Python
4,system76 / virgo,Package gorilla/mux is a powerful HTTP router ...,Python
5,gorilla / mux,üî• A tool for visualizing and tracking your mac...,Go
6,wandb / wandb,Beautiful charts for iOS/tvOS/OSX! The Apple s...,Python
7,danielgindi / Charts,Export all bike details (such as encryption ke...,Swift
8,grossartig / vanmoof-encryption-key-exporter,Book_1_„ÄäÁºñÁ®ã‰∏çÈöæ„Äã | È∏¢Â∞æËä±‰π¶Ôºö‰ªéÂä†Âáè‰πòÈô§Âà∞Êú∫Âô®Â≠¶‰π†ÔºõÂºÄÂßã‰∏ä‰º†PDFËçâÁ®ø„ÄÅJupy...,TypeScript
9,Visualize-ML / Book1_Python-For-Beginners,Book_4_„ÄäÁü©ÈòµÂäõÈáè„Äã | È∏¢Â∞æËä±‰π¶Ôºö‰ªéÂä†Âáè‰πòÈô§Âà∞Êú∫Âô®Â≠¶‰π†Ôºõ‰∏äÊû∂ÔºÅ,Jupyter Notebook
10,Visualize-ML / Book4_Power-of-Matrix,"A privacy-first, lightweight note-taking servi...",Python
11,usememos / memos,"Fast, easy and reliable testing for anything t...",TypeScript
12,cypress-io / cypress,EF Core is a modern object-database mapper for...,JavaScript
13,dotnet / efcore,"Interactive roadmaps, guides and other educati...",C#
14,kamranahmedse / developer-roadmap,AI companions with memory: a lightweight stack...,TypeScript
15,a16z-infra / companion-app,Awesome things you can do with ChatGPT + Code ...,TypeScript
16,SkalskiP / awesome-chatgpt-code-interpreter-ex...,"A fast, distributed, high performance gradient...",C++
17,microsoft / LightGBM,Zero-1-to-3: Zero-shot One Image to 3D Object:...,Python
18,cvlab-columbia / zero123,GPT based autonomous agent that does online co...,Python
19,assafelovic / gpt-researcher,A unified framework for 3D content generation.,Python
20,threestudio-project / threestudio,A performant e-commerce starter template with ...,TypeScript
21,medusajs / nextjs-starter-medusa,"SeaTunnel is a distributed, high-performance d...",Java

In [37]:
driver.close()

Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [39]:
driver = webdriver.Chrome()
driver.get('https:/www.billboard.com/')

In [40]:
try:
    top = driver.find_element(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a')
    top.click()
except WebDriverException:
    pass

In [41]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,200)")

In [47]:
name,artist,lwr,pr,wob = [],[],[],[],[]
for i in driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    artist.append(i.text)
for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]'):
    lwr.append(i.text)
for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]'):
    pr.append(i.text)
for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]'):
    wob.append(i.text)

In [48]:
len(name),len(artist),len(lwr),len(pr)

(199, 199, 400, 400)

In [49]:
bill = pd.DataFrame({'Name':name[0:100],'Artist':artist[0:100],'Last Week Rank':lwr[0:100],'Peek Pos':pr[0:100]})
bill

,Name,Artist,Last Week Rank,Peek Pos
0,One Thing At A Time,Morgan Wallen,-,
1,Genesis,Peso Pluma,1,1
2,Midnights,Taylor Swift,1,
3,Dangerous: The Double Album,Morgan Wallen,18,1
4,SOS,SZA,3,
...,...,...,...,...
95,Ganger,Veeze,491,2
96,Hamilton: An American Musical,Original Broadway Cast,51,
97,50 Number Ones,George Strait,191,1
98,Greatest Hits,The Notorious B.I.G.,47,
99,Dark Blood (EP),ENHYPEN,558,2

6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [50]:
driver = webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [51]:
for _ in range(40):
    driver.execute_script("window.scrollBy(0,40)")

In [52]:
bod = []
for i in driver.find_elements(By.XPATH,'//tbody'):
    bod.append(i.text.split('\n'))

In [53]:
bod

[['1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure',
  "2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction",
  "3 Harry Potter and the Philosopher's Stone Rowling, J.K. 4,200,654 Bloomsbury Children's Fiction",
  "4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction",
  '5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas',
  "6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction",
  "7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children's Fiction",
  "8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction",
  '9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure',
  "10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction",
  '11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas',
  '12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction',
  '13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure',
  '14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas',
  '15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure',
  '16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction',
  '17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure',
  '18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction',
  '19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction',
  '20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction',
  '21 Digital Fortress Brown, Dan 1,928,900 Transworld Crime, Thriller & Adventure',
  '22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science',
  '23 Girl Who Played with Fire,The:Millennium Trilogy Larsson, Stieg 1,814,784 Quercus Crime, Thriller & Adventure',
  '24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction',
  '25 Very Hungry Caterpillar,The:The Very Hungry Caterpillar Carle, Eric 1,783,535 Penguin Picture Books',
  '26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books',
  "27 Jamie's 30-Minute Meals Oliver, Jamie 1,743,266 Penguin Food & Drink: General",
  '28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction',
  '29 One Day Nicholls, David 1,616,068 Hodder & Stoughton General & Literary Fiction',
  '30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction',
  "31 Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy Larsson, Stieg 1,555,135 Quercus Crime, Thriller & Adventure",
  "32 Time Traveler's Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction",
  '33 Atonement McEwan, Ian 1,539,428 Random House General & Literary Fiction',
  "34 Bridget Jones's Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction",
  '35 World According to Clarkson,The Clarkson, Jeremy 1,489,403 Penguin Humour: Collections & General',
  "36 Captain Corelli's Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction",
  '37 Sound of Laughter,The Kay, Peter 1,310,207 Random House Autobiography: General',
  '38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction',
  '39 Billy Connolly Stephenson, Pamela 1,231,957 HarperCollins Biography: The Arts',
  '40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General',
  "41 Gruffalo's Child,The Donaldson, Julia 1,208,711 Pan Macmillan Picture Books",
  "42 Angela's Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General",
  '43 Birdsong Faulks, Sebastian 1,184,967 Random House General & Literary Fiction',
  '44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction',
  '45 Labyrinth Mosse, Kate 1,181,093 Orion General & Literary Fiction',
  '46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy',
  '47 Help,The Stockett, Kathryn 1,132,336 Penguin General & Literary Fiction',
  '48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction',
  '49 Memoirs of a Geisha Golden, Arthur 1,126,337 Random House General & Literary Fiction',
  "50 No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure",
  '51 Island,The Hislop, Victoria 1,108,328 Headline General & Literary Fiction',
  '52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction',
  '53 You are What You Eat:The Plan That Will Change Your Life McKeith, Gillian 1,104,403 Penguin Fitness & Diet',
  '54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction',
  "55 Tales of Beedle the Bard,The Rowling, J.K. 1,090,847 Bloomsbury Children's Fiction",
  '56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure',
  "57 Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P Atkins, Robert C. 1,054,196 Random House Fitness & Diet",
  '58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction',
  '59 Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation Truss, Lynne 1,023,688 Profile Books Group Usage & Writing Guides',
  "60 Delia's How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General",
  '61 Chocolat Harris, Joanne 1,009,873 Transworld General & Literary Fiction',
  '62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction',
  "63 My Sister's Keeper Picoult, Jodi 1,003,780 Hodder & Stoughton General & Literary Fiction",
  '64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction',
  '65 To Kill a Mockingbird Lee, Harper 998,213 Random House General & Literary Fiction',
  '66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest',
  '67 Dear Fatty French, Dawn 986,753 Random House Autobiography: The Arts',
  '68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction',
  '69 Hannibal Harris, Thomas 970,509 Random House Crime, Thriller & Adventure',
  '70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy',
  '71 Stupid White Men:...and Other Sorry Excuses for the State of the Natio Moore, Michael 963,353 Penguin Current Affairs & Issues',
  '72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure',
  '73 Sharon Osbourne Extreme:My Autobiography Osbourne, Sharon 959,496 Little, Brown Book Autobiography: The Arts',
  '74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction',
  "75 At My Mother's Knee ...:and Other Low Joints O'Grady, Paul 945,640 Transworld Autobiography: The Arts",
  '76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing',
  '77 Return of the Naked Chef,The Oliver, Jamie 925,425 Penguin Food & Drink: General',
  '78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction',
  "79 Jamie's Italy Oliver, Jamie 906,968 Penguin National & Regional Cuisine",
  '80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet',
  '81 Down Under Bryson, Bill 890,847 Transworld Travel Writing',
  '82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure',
  '83 Small Island Levy, Andrea 869,659 Headline General & Literary Fiction',
  '84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General',
  '85 Brick Lane Ali, Monica 856,540 Transworld General & Literary Fiction',
  "86 Memory Keeper's Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction",
  '87 Room on the Broom Donaldson, Julia 842,535 Pan Macmillan Picture Books',
  '88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction',
  '89 My Booky Wook Brand, Russell 820,563 Hodder & Stoughton Autobiography: The Arts',
  '90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science',
  '91 "Beano" Annual,The 0 816,585 D.C. Thomson Children\'s Annuals',
  '92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction',
  '93 House at Riverton,The Morton, Kate 814,370 Pan Macmillan General & Literary Fiction',
  '94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction',
  '95 Nights of Rain and Stars Binchy, Maeve 808,900 Orion General & Literary Fiction',
  '96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction',
  '97 Happy Days with the Naked Chef Oliver, Jamie 794,201 Penguin Food & Drink: General',
  '98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction',
  "99 Lost Boy,The:A Foster Child's Search for the Love of a Family Pelzer, Dave 791,507 Orion Biography: General",
  "100 Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General"]]

In [54]:
driver.close()

'''9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details: 
A) Name
B) Year span
C) Genre
D) Run time 
E) Ratings 
F) Votes'''

In [56]:
driver = webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

In [59]:
name,year,gen,rt,rating,vote = [],[],[],[],[],[]

for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]'):
    na = i.text.split('(')[0]
    name.append(na.split('.')[1])
    year.append(i.text.split('(')[1].replace(')',' '))

for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
    gen.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
    rt.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]'):
    rating.append(i.text.split('\n')[0])

for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
    vote.append(i.text)

In [60]:
series = pd.DataFrame({'Name':name, 'Year Span':year, 'Genre':gen, 'Run Time':rt, 'Ratings':rating, 'Votes':vote})
series.head()

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,2011‚Äì2019,"Action, Adventure, Drama",57 min,9.2,"2,180,137"
1,Stranger Things,2016‚Äì2024,"Drama, Fantasy, Horror",51 min,8.7,"1,256,482"
2,The Walking Dead,2010‚Äì2022,"Drama, Horror, Thriller",44 min,8.1,"1,035,320"
3,13 Reasons Why,2017‚Äì2020,"Drama, Mystery, Thriller",60 min,7.5,"304,323"
4,The 100,2014‚Äì2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"263,482"

In [61]:
driver.close()

Details of Datasetsfrom UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [87]:
driver = webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [91]:
name = []
types = []
instances = []
attributes = []
year = []

# Find elements and extract text
for i in driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]'):
    name.append(i.text)
    
for i in driver.find_elements(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[2]/div/table/tbody/tr/td[2]'):
    types.append(i.text)

for i in driver.find_elements(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[1]/div[2]/div/div[3]/span'):
    instances.append(i.text)

for i in driver.find_elements(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[1]/div[2]/div/div[4]/span'):
    attributes.append(i.text)

for i in driver.find_elements(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[2]/div/table/tbody/tr/td[3]'):
    year.append(i.text)

In [92]:
print("Names:", name)
print("Types:", types)
print("Instances:", instances)
print("Attributes:", attributes)
print("Year:", year)

Names: ['Iris', 'Heart Disease', 'Adult', 'Dry Bean Dataset', 'Diabetes', 'Wine', 'Rice (Cammeo and Osmancik)', 'Breast Cancer Wisconsin (Diagnostic)', 'Car Evaluation', 'Mushroom']
Types: ['Real']
Instances: ['150 Instances']
Attributes: ['4 Attributes']
Year: ['7/1/1988']

'. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on searc

In [94]:
driver = webdriver.Chrome()
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [97]:
search = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys('Data science')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input"}
  (Session info: chrome=114.0.5735.199); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
Backtrace:
	GetHandleVerifier [0x0047A813+48355]
	(No symbol) [0x0040C4B1]
	(No symbol) [0x00315358]
	(No symbol) [0x003409A5]
	(No symbol) [0x00340B3B]
	(No symbol) [0x0036E232]
	(No symbol) [0x0035A784]
	(No symbol) [0x0036C922]
	(No symbol) [0x0035A536]
	(No symbol) [0x003382DC]
	(No symbol) [0x003393DD]
	GetHandleVerifier [0x006DAABD+2539405]
	GetHandleVerifier [0x0071A78F+2800735]
	GetHandleVerifier [0x0071456C+2775612]
	GetHandleVerifier [0x005051E0+616112]
	(No symbol) [0x00415F8C]
	(No symbol) [0x00412328]
	(No symbol) [0x0041240B]
	(No symbol) [0x00404FF7]
	BaseThreadInitThunk [0x76AE6359+25]
	RtlGetAppContainerNamedObjectPath [0x77527B74+228]
	RtlGetAppContainerNamedObjectPath [0x77527B44+180]